body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/office.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#appContainer {
    
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #18bc9c;
}

.bordered {
}

    .bordered tr {
        border-bottom: 1px solid darkcyan;
        border-top: 1px solid darkcyan;
    }


.table td, th {
    text-align: center;
    font-weight:bold;
}


.bottom20 {
    margin-bottom: 20px;
}

.bottom40 {
    margin-bottom: 40px;
}

.top20 {
    margin-top:20px;
}

.top40 {
    margin-top: 40px;
}

.top15{
    padding-top:15%;
}

.right10{
    margin-right:10%;
}

.right20 {
    margin-right: 20%;
}


blockquote{
    border-left-color:#808080;
}

.nomargin{
    margin:0px;
}
